.row
  .span12

    .plan-options{:style => 'float:right; height:100px;'}
      %h4
        %i.icon-print
          = link_to "Print", grade_domain_report_path(:format => 'pdf', :report => { :grade => @grade, :style => 'Table', :school_year_id => @school_year.id })

      = form_tag show_curriculum_path(:grade => @grade), :method => :get, :id => 'change-school-year' do
        = label_tag 'school_year_id', "School Year"
        = select_tag 'school_year_id', options_for_select(@school.school_years.map {|y| [y.name, y.id]}, @school_year.id)

    %h3
      Curriculum Plan
      = "for #{ @school.name }" if @school.name.present?
      = ": #{ School.grade_name_for(@grade) }"

    %ul.nav.nav-tabs#months
      - for month in @school_year.months
        %li= link_to month.name[0..2], "#month-#{ month.name.downcase }", :data => { :month => month.name.downcase}, :class => 'show-month'

    - for month in @school_year.months
      .calendar-content{:style => "position: relative; min-height: 1px;"}
        .calendar-view{:style => "position: relative;", :unselectable => "on"}
          %table.table.calendar{:class => "month-#{ month.name.downcase }", :data => { :month => month.name.downcase }}
            %tr
              %th Week
              - for week in month.weeks
                %td.week-title{:id => "week-#{ week.index }"}= render :partial => 'my_school/week_tab', :locals => { :week => week }

            - for subject in @subjects
              %tr{:class => "subject-#{ subject.id }"}
                %th.subject-header{:width => "15%"}= subject.name
                - for week in month.weeks
                  %td.week-cell
          .scheduled-domains{:class => "month-#{ month.name.downcase }", :style => "position: absolute; z-index: 8; top: 0px; left: 0px;"}

= javascript_tag "window.schoolYearId = #{ @school_year.id };"

:javascript
  window.static_scheduled_domains.reset(#{ @scheduled_domains.to_json });

  $(document).ready(function() {
    $('a.show-month').click(function() {
      $.post("/my_calendar/#{ @school_year.id }/" + $(this).attr('href').slice(1));
      $('ul#months li').removeClass('active');
      $(this).parent('li').addClass('active');
      window.static_scheduled_domains.chain().sortBy(function(m) {
        return m.get('subject_position');
      }).each(function(s) { s.render(); });
    });

    if (location.hash != '') {
      $('a[href="' + location.hash + '"]').trigger("click");
    } else {
      $('a.show-month:first').trigger("click");
    }
  });
