.row
  .span6.offset3
    %h3 New Standards Planning Report

    = form_tag ccss_coverage_report_path, :method => :get, :class => 'form form-horizontal' do

      = render :partial => 'reports/school_years', :locals => { :school_years => @school.school_years }

      .control-group
        = label_tag "report[grade]", "Grade", :class => 'control-label'
        .controls= select_tag "report[grade]", options_for_select(@school.grades_with_translations.invert)

      .control-group
        = label_tag "report[subject]", "Subject", :class => 'control-label'
        .controls= select_tag "report[subject]", options_for_select("All" => nil, "ELA/Literacy" => "ELA/Literacy", "Math" => "Math")

      .control-group
        = label_tag "report[include_only]", "Show", :class => 'control-label'
        .controls= select_tag "report[include_only]", options_for_select([["Planned & Unplanned Standards", nil], ["Planned Standards", "planned"], ["Unplanned Standards", "unplanned"]])

      = render :partial => 'reports/format_choice'

      .control-group
        .controls= submit_tag "Prepare"
