.row
  .span12
    %table.table.table-bordered
      %thead
        %tr
          %th User
          %th Email
          %th Planner
          %th Teacher
          %th Active

      %tbody
        - for user in @users
          %tr
            %td= user.name
            %td= user.email
            %td= radio_button_tag "user_#{ user.id }", "planner", user.planner?, :disabled => (user == current_user)
            %td= radio_button_tag "user_#{ user.id }", "teacher", !user.planner?, :disabled => (user == current_user)
            %td= check_box_tag "user_#{ user.id }", "active", user.active?, :disabled => (user == current_user)