.row
  .span12

    %h3= "#{ @report.school.name } - #{ @report.school.school_year.short_form }"
    %h3  Prior and Future Knowledge Report
    %h3= School.grade_name_for(@report.grade)
    %h3= @report.domain.name

    %table.table

      %tbody
        %tr
          %th Prior Knowledge

        - for node in @report.prior_knowledge
          %tr
            %td
              = node.grade_name
              - if node.is_a?(Guideline)
                %i.icon-bookmark= ""
              = node.name_with_prefix

        %tr
          %th Future Knowledge

        - for node in @report.future_knowledge
          %tr
            %td
              = node.grade_name
              - if node.is_a?(Guideline)
                %i.icon-bookmark= ""
              = node.name_with_prefix

= render :partial => 'reports/footer'
