.row
  .span12

    %h3= "Subject-Specific Plan: #{ @report.subject.name }"

    %h3= "#{ @report.school.name } #{ @report.school_year.short_form }"

    %table.table.table-bordered

      %thead
        %tr
          %th
            - for month in @report.school_year.months
              %th{:colspan => month.weeks.size}= month.name
        %tr
          %th Week
          - for week in @report.school_year.weeks
            %td{:style => "width:50px;"}= week.index

      %tbody

        - for grade in @report.grades

          - rows = rows_for_scheduled_domains(@report.scheduled_domains_for_grade(grade), @report.school_year.weeks.size)

          %tr.top-grade-row
            %th{:rowspan => rows.size + 1}= grade
            - if rows.empty?
              %td{:colspan => @report.school_year.weeks.size}

          - for row in rows
            %tr{:class => ('top-grade-row' if row == rows.first)}
              - for cell in row.cells
                %td{:class => cell.class_name, :colspan => cell.weeks}= cell.text

= render :partial => 'reports/footer'
