.row
  .span6.offset3
    = form_tag sign_in_path, :class => 'form-horizontal well' do
      %fieldset
        %legend Please Sign In

        .control-group
          = label_tag :email, "Email Address", :class => 'control-label'
          .controls= email_field_tag :email

        .control-group
          = label_tag :password, "Password", :class => 'control-label'
          .controls= password_field_tag :password

        .control-group
          .controls= submit_tag "Sign In", :class => 'btn btn-primary'

    %p= link_to "I forgot my password", new_password_reset_path
